@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.9);
  --link: rgb(23, 199, 199);
  --topics: rgb(149, 149, 212);
  --linear-gradient: radial-gradient(
    var(--link) 30%,
    var(--hover) 30%,
    var(--topics) 40%
  );
  --border: 3px solid rgba(207, 191, 191, 0.205);
  --hover: rgb(211, 211, 11);
  --paragraph: rgb(224, 223, 223);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  grid-area: header;
  border: 1px solid;
  border-image: linear-gradient(
    to left,
    var(--link) 15%,
    var(--hover) 70%,
    var(--topics) 15%
  );
  border-image-slice: 1;
  padding: 0.7rem;
}

main {
  grid-area: main;
  border: var(--border);
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
}

main article {
  flex-grow: 1;
}

aside {
  grid-area: aside;
  padding: 0.7rem;
  border: var(--border);
}

footer {
  grid-area: footer;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid;
  border-image: linear-gradient(
    to left,
    var(--link) 15%,
    var(--hover) 70%,
    var(--topics) 15%
  );
  border-image-slice: 1;
}

h2,
h3 {
  color: var(--topics);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
}

.recent-post h3 {
  margin-bottom: 0;
}

h4 {
  margin: 0.7rem 0;
  color: var(--hover);
}

p {
  color: var(--paragraph);
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 0.7rem;
}

nav {
  width: 100%;
}

/* Always set the list style on the ul/ol */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

nav li:nth-child(2) {
  margin: 0 1.5rem;
}

a {
  text-decoration: none;
  color: var(--link);
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.4rem 0 0.4rem;
  /* all will add outline to it*/
  transition: color 0.7s ease-in-out;
}

nav a {
  text-align: center;
  padding: 0.4rem;
}

/* Hover for mouse over element*/
/* Focus is when it is clicked (either by keyboard action or mouse) */

a:hover {
  color: var(--hover);
}

a:focus {
  outline: 1px dotted white;
  color: var(--hover);
}

section.company-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--topics);
  margin-right: 0.4rem;
}

.title {
  background: var(--linear-gradient);
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  font-family: serif;
  font-size: 1.2rem;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.article-featured {
  margin-bottom: 1rem;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.article-recent-main {
  order: 2;
  width: 73%;
  align-self: flex-start;
  margin: 1rem 0;
}

.article-recent-secondary {
  order: 1;
  width: 25%;
  align-self: flex-start;
  margin: 1.1rem 0;
}

p.article-info {
  text-align: center;
  color: rgb(255, 255, 0);
}

main span {
  display: block;
  color: rgb(50, 224, 26);
}

.article-featured span {
  display: inline;
}

.on-featured {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.about-me {
  margin-bottom: 1rem;
}

.recent-post {
  display: flex;
  flex-direction: column-reverse;
}

.recent-posts a {
  font-size: 1.1rem;
  text-decoration: 2px solid underline;
}

.line {
  width: 100%;
  height: 0.05rem;
  background: var(--hover);
  margin: 1rem 0;
}

footer > p {
  color: var(--topics);
  margin-top: 1.2rem;
  line-height: 0;
  margin-bottom: 0;
}

.icons {
  color: var(--link);
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons i {
  display: block;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: color 0.7s ease-in-out;
}

.icons i:hover {
  color: var(--hover);
}

.fa-bars {
  display: none;
}

/* TODO: MEDIA QUERY FOR SMALLER SCREENS*/
@media (max-width: 450px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
  }
  nav {
    background: var(--topics);
    position: absolute;
    top: 4.7rem;
    left: 0;
    width: 10rem;
    display: none;
  }

  .active {
    display: initial;
  }

  nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }

  nav li {
    width: 100%;
  }

  nav li:nth-child(2) {
    margin: 0;
  }

  nav a {
    width: 100%;
    text-align: initial;
    padding: 0.7rem 0.3rem;
    color: black;
    font-size: 1.1rem;
  }

  .article {
    flex-direction: column;
  }

  .article-recent-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .article-recent-secondary img {
    width: 100%;
  }

  .article-recent-secondary p {
    width: 100%;
  }

  .article-recent-main {
    width: 100%;
  }

  section.company-info {
    width: 95%;
    justify-content: flex-start;
    margin-right: 0.5rem;
  }

  .article-featured span {
    display: block;
  }

  .fa-bars {
    display: block;
    color: var(--topics);
    font-size: 1rem;
    padding-bottom: 0.85rem;
  }
}

/* TODO: MEDIA QUERY FOR LARGER SCREENS */
@media (min-width: 830px) {
  body {
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  section.company-info {
    width: 59%;
    margin-bottom: 0;
  }

  nav {
    width: 40%;
  }

  nav ul {
    justify-content: flex-end;
    width: 100%;
  }

  nav li {
    margin: 0 0.2rem;
  }

  .article-recent-main {
    width: 67%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  main .line {
    display: none;
  }
}
