@use '../abstracts' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  background: var(--grey-900);
  padding: 1rem;
  border-radius: var(--radius);

  a {
    padding: $gap-xs;
    color: var(--blue-500);
    border-radius: var(--radius);
    transition: all var(--transition3);
    text-transform: uppercase;
    align-self: flex-start;

    &:hover {
      color: var(--blue-300);
      background: var(--grey-700);
    }
  }
}

.featured-primary {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);

  .article-image {
    width: 100%;
    height: 30%;

    @include breakpoint() {
      height: 40rem;
    }
  }
}

.article-image {
  overflow: hidden;
  border-radius: var(--radius);

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.article-title {
  text-transform: capitalize;
  font-weight: 700;
}

.article-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  align-items: center;
  p {
    font-size: var(--fs-xs);
  }

  @include breakpoint() {
    flex-direction: row;
  }
}

.featured-secondary {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.article {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--gap-xs);

  @include breakpoint() {
    flex-direction: row-reverse;
  }

  .article-image {
    width: 100%;
    height: 15rem;

    @include breakpoint() {
      width: 30rem;
    }
  }

  .article-info {
    flex-direction: column;
    align-items: center;
  }
}

.article-primary,
.article-secondary {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.comments {
  color: var(--orange-500);
}
